<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MediaHack Video WebApp</title>

    <link rel="stylesheet" type="text/css" href="/Content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/Content/site.css" />

</head>
<body>

    <div class="container">
        <header class="row">
            <div class="col-md-12">
                <a href="/">
                    <img class="img-responsive pull-left" src="/Images/media-hack-logo.png" />
                </a>
                <a href="http://azure.microsoft.com">
                    <img class="img-responsive pull-right" src="/Images/microsoft-azure-logo.jpg" />
                </a>
            </div>
        </header>

        <section class="row content">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </section>

        <footer class="row">
            <div class="col-md-3">
                Copyright &copy; 2015. | All rights reserved.
            </div>
            <div class="col-md-9">
                <div class="pull-right">
                    <a class="" href="http://torf.tv">Torf TV</a> | 
                    <a href="http://microsoft.ua">Microsoft Ukraine</a> 
                </div>    
            </div>
        </footer>

    </div>
    
    <script src="/Scripts/jquery-2.1.4.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
</body>
</html>
